* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 50vh;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./Images/mainbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header img {
  width: 13.5%;
  height: auto;
}

nav img {
  cursor: pointer;
}

nav {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
}

.nav-links i {
  display: none;
}

nav .fas {
  color: #fff;
  font-size: 20px;
  display: none;
}

nav ul li {
  display: inline-block;
  margin: 5px 10px;
  position: relative;
}

nav ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #f44336;
  transition: all ease 0.4s;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.section {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  text-align: center;
  overflow: hidden;
}

.section h1 {
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #fff;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.section2 {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 5%;
  box-sizing: border-box;
}

.section3 {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}

.section3 h2 {
  color: #190404;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding-bottom: 40px;
}

.section3 p {
  color: #190404;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}

.section3 i {
  color: #f44336;
  font-size: 16px;
  margin: 0px 10px;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(140, 163, 159),
    rgb(197, 183, 195)
  );
}

h2 {
  font-size: 3rem;
  color: #190404;
  text-align: center;
  margin-bottom: 5px;
}
form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  color: #190404;
}
.name-email {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.name-email div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
label {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 20px;
}
input,
textarea {
  border-radius: 3px;
  border: none;
  padding: 10px;
}
input[type="submit"] {
  width: 200px;
  margin: auto;
  margin-top: 20px;
}
.cta {
  font-size: 1.1em;
  color: white;
  background: linear-gradient(#8e86b5, #5f5f64);
  padding: 20px 30px;
  border-radius: 50px;
  cursor: pointer;
}
.cta:hover {
  text-decoration: none;
  background: linear-gradient(#696484, #8788ba);
}
@media screen and (max-width: 750px) {
  form {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .name-email {
    flex-direction: column;
    gap: 0;
  }

  h2 {
    font-size: 1.2rem;
  }
  label {
    font-size: 1.2rem;
  }
}

@media (max-width: 770px) {
  .nav-links {
    display: block;
    position: absolute;
    width: 0%;
    height: 100vh;
    top: 0px;
    right: 0px;
    background: #f44336;
    z-index: 1;
    padding-top: 100px;
    transition: all 0.5s;
    overflow-x: hidden;
    position: inherit;
  }
  .opened {
    width: 30%;
  }

  .nav-links i {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  body {
    overflow-x: hidden;
  }
  nav .fas {
    display: block;
    margin: 5px 10px;
    font-size: 26px;
  }
  header img {
    width: 40.5%;
    height: auto;
    padding: 5px 15px;
  }
  .nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-links li a {
    font-size: 16px;
  }
  .section h1 {
    font-size: 20px;
    z-index: 1;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
  }

  .section3 h2 {
    padding-bottom: 25px;
    font-size: 18px;
  }
  .section3 p {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .section3 i {
    color: #f44336;
    font-size: 13px;
    margin: 0px 7px;
  }
}
