* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(
      160deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(./Images/mainbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header img {
  width: 13.5%;
  height: auto;
}

nav {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-links i {
  display: none;
}

nav .fas {
  color: #fff;
  font-size: 20px;
  display: none;
}

nav ul li {
  display: inline-block;
  margin: 5px 10px;
  position: relative;
}

nav ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #f44336;
  transition: all ease 0.4s;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.section {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}

.section h1 {
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #fff;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.section p {
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.section a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  border: 2px solid #fff;
  box-sizing: border-box;
  padding: 10px 20px;
  position: relative;
  transition: all 0.5s ease;
  display: inline-block;
  background: transparent;
}

.section a::before {
  content: "";
  top: 21px;
  bottom: 13px;
  left: -26px;
  position: absolute;
  width: 16%;
  height: 2px;
  z-index: -1;
  background: #fff;
}

section a::after {
  content: "";
  top: 21px;
  bottom: 13px;
  left: 193px;
  position: absolute;
  width: 15.5%;
  height: 2px;
  z-index: -1;
  background: #fff;
}

.section a:hover {
  border: 2px solid #f44336;
  background-color: #f44336;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.section2 {
  margin-top: 3%;
  width: 100%;
  height: auto;
  padding: 20px;
  background-image: linear-gradient(
    to bottom right,
    rgb(101, 165, 204),
    rgb(116, 116, 101)
  );
}

.section2 h1 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.section2 p {
  color: #777;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.item-courses {
  padding: 3% 6%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.items {
  flex-basis: auto;
  padding: 20px;
  text-align: center;
  margin: 0px 20px;
  border-radius: 10px;
  background: rgb(226, 211, 211);
}

.items p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: rgb(53, 49, 49);
}

.items h3 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.item-courses .items:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
}

.section3 {
  width: 100%;
  height: auto;
  margin-top: 3%;
  padding: 20px;
}

.section3 h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 35px;
  padding-bottom: 10px;
}

.section3 p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 15px;
  color: #777;
  font-weight: 500;
}

.row {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 3% 6%;
  box-sizing: border-box;
}

.row-divs {
  flex-grow: 1;
  margin: 0px 20px;
}

.row-divs img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.row-divs p {
  font-size: 14px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.row-divs h3 {
  text-align: left;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 10px 0px;
}

.section4 {
  width: 100%;
  margin-top: 3%;
  height: auto;
  padding: 20px;
}

.section4 h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.section4 p {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #777;
  font-weight: 500;
}

.row-2 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 3% 6%;
  box-sizing: border-box;
}

.row2s {
  flex-grow: 1;
  box-sizing: border-box;
  background: #e2cfceb6;
  margin: 0px 20px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.row2s p {
  font-size: 14px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  text-align: left;
}

.row2s h3 {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  padding: 5px 0px;
}

.row2s i {
  color: #f44336;
}

.row2s img {
  width: 10%;
  height: 30%;
  border-radius: 50%;
}

.row2s:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
}

.section5 {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 3%;
  padding: 20px;
}

.section5 h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.section5 p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 15px;
  color: #777;
}

.section5 .row-3 {
  width: 100%;
  height: auto;
  padding: 3% 6%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.section5 .row3s h3 {
  text-transform: capitalize;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  letter-spacing: 0.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2222;
  opacity: 0;
}

.section5 .row3s {
  flex-grow: 1;
  margin: 0px 30px;
  position: relative;
  border-radius: 20px;
}

.section5 .row3s img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.section5 .row3s::after {
  content: "";
  width: 100%;
  height: 0%;
  background: rgba(244, 67, 54, 0.3);
  position: absolute;
  display: block;
  border-radius: 20px;
  top: 0px;
  transition: all 0.7s ease;
}

.row3s:hover::after {
  height: 99.3%;
}

.section6 {
  width: 100%;
  margin-top: 5%;
  height: auto;
  box-sizing: border-box;
  padding: 2% 10%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.section6 div {
  width: 100%;
  height: auto;
  padding: 6% 5%;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./Images/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.section6 div h1 {
  font-size: 40px;
  letter-spacing: 1px;
  padding-bottom: 4%;
  text-transform: capitalize;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.section6 div a {
  color: #fff;
  padding: 10px 37px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  border: 2px solid #fff;
  position: relative;
  transition: all 0.7s ease;
}

.section6 .sec6s a::before {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  left: -22px;
  width: 30px;
  height: 2px;
  background: #fff;
}

.section6 .sec6s a::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 167px;
  z-index: 2222;
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
}

.section6 .sec6s a:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background: #f44336;
  border: 2px solid #f44336;
  transition: all 0.7s ease;
}

.section7 {
  width: 100%;
  margin-top: 6%;
  height: auto;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}

.section7 h2 {
  color: #000;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding-bottom: 40px;
}

.section7 p {
  color: #777;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-bottom: 20px;
}

.section7 i {
  color: #f44336;
  font-size: 16px;
  margin: 0px 10px;
}

@media (max-width: 700px) {
  .nav-links {
    display: block;
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0px;
    right: -200px;
    display: none;
    background: #f44336;
    z-index: 111111;
    padding-top: 218px;
    transition: all 0.5s ease;
  }
  .nav-links i {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  body {
    overflow-x: hidden;
  }
  nav .fas {
    display: block;
    margin: 5px 10px;
    font-size: 26px;
  }
  .section a {
    font-size: 11px;
    padding: 5px 2px;
    width: 145px;
    height: 30px;
  }
  .section a::before {
    top: 13px;
    left: -12px;
    width: 11.5%;
  }
  .section a::after {
    top: 13px;
    left: 137px;
    width: 11.5%;
  }
  header img {
    width: 40.5%;
    height: auto;
    padding: 5px 15px;
  }
  header img:hover {
    transform: scaleX(1);
  }
  .nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-links li a {
    font-size: 16px;
  }
  .section h1 {
    font-size: 20px;
    z-index: 1;
  }
  .section p {
    font-size: 10px;
    z-index: 1;
  }
  nav {
    padding-left: 0;
    padding-right: 0;
  }
  .section2 h1 {
    font-size: 21px;
  }
  .section2 p {
    font-size: 10px;
  }
  .item-courses {
    flex-direction: column;
  }
  .items {
    margin: 9px 20px;
  }
  .items h3 {
    font-size: 13px;
  }
  .items p {
    font-size: 10px;
  }
  .row {
    flex-direction: column;
  }
  .row-divs {
    margin: 10px 0px;
  }
  .row-divs p {
    font-size: 10px;
  }
  .row-divs h3 {
    font-size: 13px;
    padding: 3px 0px;
  }
  .section3 h1 {
    font-size: 21px;
  }
  .section3 p {
    font-size: 10px;
  }
  .section4 h1 {
    font-size: 21px;
  }
  .section4 p {
    font-size: 10px;
  }
  .section4 .row-2 {
    flex-direction: column;
  }
  .section4 .row2s h3 {
    font-size: 13px;
  }
  .section4 .row2s {
    margin: 10px 0px;
    flex-wrap: wrap;
  }
  .section4 .row2s p {
    font-size: 10px;
  }
  .section4 .row2s i {
    font-size: 10px;
  }
  .row-3 {
    flex-direction: column;
  }
  .section5 h1 {
    font-size: 21px;
  }
  .section5 p {
    font-size: 10px;
    padding-bottom: 10px;
  }
  .row3s {
    padding-bottom: 10px;
  }
  .row3s:hover::after {
    height: 95.3%;
  }
  .section6 div h1 {
    font-size: 15px;
    letter-spacing: 0px;
    padding-bottom: 21%;
  }
  .section6 div a {
    padding: 5px 13px;
    font-size: 10px;
  }
  .section6 .sec6s a::before {
    top: 10px;
    left: -15px;
    width: 20px;
    height: 2px;
  }
  .section6 .sec6s a::after {
    top: 10px;
    left: 83px;
    width: 20px;
    height: 2px;
  }
  .sec6s {
    padding: 2% 2%;
  }
  .section7 h2 {
    padding-bottom: 25px;
    font-size: 18px;
  }
  .section7 p {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .section7 i {
    color: #f44336;
    font-size: 13px;
    margin: 0px 7px;
  }
}
