* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
header {
  width: 100%;
  height: 50vh;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./Images/researchbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header img {
  width: 13.5%;
  height: auto;
}

nav img {
  cursor: pointer;
}

nav {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
}

.nav-links i {
  display: none;
}

nav .fas {
  color: #fff;
  font-size: 20px;
  display: none;
}

nav ul li {
  display: inline-block;
  margin: 5px 10px;
  position: relative;
}

nav ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #f44336;
  transition: all ease 0.4s;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.section {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  text-align: center;
  overflow: hidden;
}

.section h1 {
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #fff;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.section2 {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 5%;
  box-sizing: border-box;
}

.about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 3% 6%;
}

.about-1 {
  flex-basis: 90%;
  padding: 5px;
}

.about-1 p {
  font-family: "poppins", sans-serif;
  text-align: left;
  text-transform: capitalize;
  color: #190404;
  padding-bottom: 30px;
}

.section3 {
  width: 100%;
  margin-top: 5%;
  height: auto;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}

.section3 i {
  color: #f44336;
  font-size: 16px;
  margin: 0px 10px;
}

@media (max-width: 770px) {
  .nav-links {
    display: block;
    position: absolute;
    width: 0%;
    height: 100vh;
    top: 0px;
    right: 0px;
    background: #f44336;
    z-index: 1;
    padding-top: 100px;
    transition: all 0.5s;
    overflow-x: hidden;
    position: inherit;
  }
  .opened {
    width: 30%;
  }
  .nav-links i {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  body {
    overflow-x: hidden;
  }
  nav .fas {
    display: block;
    margin: 5px 10px;
    font-size: 26px;
  }
  header img {
    width: 40.5%;
    height: auto;
    padding: 5px 15px;
  }
  .nav-links li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-links li a {
    font-size: 16px;
  }
  .section h1 {
    font-size: 20px;
    z-index: 1;
  }
  nav {
    padding-left: 0;
    padding-right: 0;
  }
  .about {
    flex-direction: column;
  }
  .about-1 {
    margin-bottom: 10%;
  }
  .about-1 h1 {
    text-align: center;
    font-size: 23px;
  }
  .about-1 p {
    text-align: center;
    font-size: 13px;
    text-align: justify;
  }

  .section3 p {
    font-size: 12px;
    padding-bottom: 20px;
  }
  .section3 i {
    color: #f44336;
    font-size: 13px;
    margin: 0px 7px;
  }
}
